<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeowPay</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<nav id="navigation_bar" class="navbar navbar-expand-sm bg-primary navbar-dark ">

    <!-- Navigation bar when the screen is minimized -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- The navigator items-->
    <div class="collapse navbar-collapse" id="navigation">
        <ul id="navigator" class="navbar-nav d-flex justify-content-between">
            <li class="nav-item active"><a class="nav-link" href="/">ABOUT</a></li>

            <!-- Dropdown list for algorithm selection -->
            <li class="dropdown active">
                <img class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" alt="@onghengkiat" width="40" height="40" src="https://avatars3.githubusercontent.com/u/55527104?s=60&amp;v=4">
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/claim">Claims</a>
                    <a class="dropdown-item" href="/transaction">Transactions</a>
                    <a class="dropdown-item" href="/">Profile</a>
                    <a class="dropdown-item" href="/">Settings</a>
                    <a class="dropdown-item" href="/">Log out</a>
                </div>
            </li>
        </ul>
    </div>

</nav>
<table id="claims">
<tr>
    <th>Claim ID</th>
    <th>Meow ID</th>
    <th>Description</th>
    <th>Total Amount</th>
    <th>Status</th>
</tr>
</table>

</body>

<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: '/api/claim',
            type: 'get',
            dataType: 'json',
            success: function(response){

                var len = response.length;
                console.log(response);
                for(var i=0; i<len; i++){
                    console.log(response[i]);
                    var claim_id = response[i].claim_id;
                    var meow = response[i].meow;
                    var description = response[i].description;
                    var total_amount = response[i].total_amount;
                    var status = response[i].status;

                    var tr_str = "<tr>" +
                        "<td align='center'>" + claim_id + "</td>" +
                        "<td align='center'>" + meow.meow_id + "</td>" +
                        "<td align='center'>" + description + "</td>" +
                        "<td align='center'>" + total_amount + "</td>" +
                        "<td align='center'>" + status + "</td>" +
                        "</tr>";

                    $("#claims").append(tr_str);
                }

            }
        });
    });
</script>
</html>
